<!-- dev - team 03 -->
<li class="dropdown-submenu">
    <a href="#">Developer Sites
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
           
  <a href="/about/t3/b">Vamshi Raj Jennaikode            </a>
        </li>
        <li>
          
            <a href="/about/t3/c">Manogna Sivangula
            </a>
        </li>
        <li>
           
            <a href="/about/t3/a">Shivani Reddy Dodla
            </a>
        </li>
    </ul>
</li>