<!-- developer - ManognaSivangula -->
<br/>
<br/>
<h2>pilot details</h2>
<br/> ID:
<%=  pilot._id %>
  <br> LastName:
  <%=pilot.lastName%>
    <br/> FirstName:
    <%=pilot.firstName%>
      <br/> HoursFlown (hours):
      <%=pilot.hoursFlown%>
      <br/> IsCurrent (hours):
      <%=pilot.isCurrent%>
        <br/>
            <br/>
            <br/>


            <form method="get" action="/pilot">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>