<!-- dev - Manogna Sivangula -->
<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <a href="pilot/create" class="btn btn-primary new">
        Create a new Pilot
      </a>
    </br>
      <h2>Recent Pilot entries</h2>
      <p>There are
       <strong> <%= pilots.query.length %></strong> pilots. 
      </p>
      <br>
 
    
          <table> 
          
          <tr> 
            <th>Pilot ID</th> <th>&emsp;&emsp;Last Name</th> <th>&emsp;&emsp;First Name</th>  
             <th>&nbsp;&nbsp;&nbsp;&nbsp;Hours Flown</th> 
            <th>&nbsp;&nbsp;&nbsp;&nbsp;Available</th>  
           <td><th>-----Operations-----</th></td>
          </tr>
         
          <td><br></td>
          
     
      <% for (var i = 0; i <= pilots.query.length-1; i++) {  
        pilot = pilots.query[i];  %>
        
  
<tr>

<th><%=pilot._id %></th>

<th>&emsp;&emsp;<%=pilot.lastName%></th>
    
    <th>&emsp;&emsp;<%=pilot.firstName%></th>
      
     <th>&nbsp;&nbsp;&nbsp;&nbsp;<%=pilot.hoursFlown%></th> 
        
    <th>&nbsp;&nbsp;&nbsp;&nbsp;<%=pilot.isCurrent%></th>  
                        
    
                         <th>&emsp;&emsp;<a href="/pilot/details/<%= pilot._id %>" class="btn btn-info"> Details </a></th>
                         <th>&emsp;&emsp;&emsp;<a href="/pilot/edit/<%= pilot._id %>" class="btn btn-warning"> Edit </a></th>
                         <th><a href="/pilot/delete/<%= pilot._id  %>" class="btn btn-danger"> Delete </a></th> 
 
                         
</tr>
     
<td><br></td>
  <% } %>
          </table>
          
        </div>
    </div>
  </div>
</div>