
<br/>
<div style="color:white">
<div class="row">
<div style="float: right" class="col-md-8">
    <img src="../../images/IMG_1011.jpeg" class="img-circle" alt="Manogna Sivangula" width="200px" height="200px">
    </div>
    </div>
   
    <br/>
    <div class="row">
            <div style="float: right" class="col-md-9">
                    <h1><b>Manogna Sivangula</b></h1>
    <h3>Contact me @</h3>  
     <div class="row">
        <div class="col-md-2">
            <a href="https://github.com/manogna1/A01" class="btn btn-info" role="button">GitHUb</a>
            </div>
            <div class="col-md-2">
            <a href="https://bitbucket.org/manogna1/" class="btn btn-info" role="button">BitBucket</a>
            </div>
            <div class="col-md-2">
                <a href="https://www.linkedin.com/in/manogna-chowdary-6870146a/" class="btn btn-info" role="button">LinkedIn</a>
        </div>
        </div>
    </div></div>
    <br/>
       <h4 style="font-style: italic"><b>Introduction</b></h4><p>
            I am Manogna Sivangula,a newly admitted student for the Spring 2018. Pursuing my Masters in the field of Applied Computer Science in NORTHWEST MISSOURI STATE UNIVERSITY.
            </p><h4 style="font-style: italic"><b>Background</b></h4>
            <p>I am from Southern part of India and my home town is khammam.<br/>
                I have done my UnderGraduation from St.Martin's Engineering College,Hyderabad in the stream of Computer Science and Engineering.<br/>
               <b> I have published a Research Paper on INTERNET OF THINGS in International Journal of Computer Science and Information Technology( IJCSIT with impact factor 5.6).Certified as MICROSOFT TECHNICAL ASSOCIATE in Database Fundamentals.
            </b></p>
            <p><b><h4 style="font-style: italic">Future Plans</h4></b>
                I would like to see myself as a Software Developer and Game Developer.I would like to work on Web applications,Games,Banking,Cyber security and cryptography.
            </p>
         
        </div>
   
<br/>
<br/>