<br>
<br>
<br>
<div class="col-md-6 col-md-offset-3">
    <% include nav.ejs %> <br>
        <div id="icon">
            <a href="https://bitbucket.org/rajv11/">
                <img src="../../../images/bitbucket.jpeg" width="50px" height="50px">
            </a>
            <a href="https://github.com/rajv11">
                <img src="../../../images/github.png" width="50px" height="50px">
            </a>
            <a href="https://www.linkedin.com/in/vamshiraj">
                <img src="../../../images/linkedin-in.png" width="50px" height="50px">
            </a>
        </div>
        <form method="post" action="#">
            Last Name
            <br>

            <input type="text" name="name" id="name" placeholder="Enter your name">
            <br> E-mail
            <br>
            <input type="text" name="email" id="email" placeholder="Your E-mail">
            <br> Subject
            <br>
            <input type="text" name="subject" id="subject" placeholder="Enter Subject">
            <br> Message
            <br>
            <textarea name="message" id="message" placeholder="Write here " style="height:200px"></textarea>
            <br>
            <input type="submit" value="Submit">
        </form>
</div>
