<br>
<br>
<br>
<br>
<br>

<div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                        <% include nav.ejs %>
                    <header class="section-header">Skills</header>
                    <div class="table-responsive">
                        <table class="table skill">
                            <tr>
                                <td>
                                    <strong>Operating Systems</strong>
                                    <br>
                                    <br>
                                </td>
                                <td>Windows,MacOS,Linux(Kali)
                                    <br>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Development IDE</strong>
                                    <br>
                                    <br>
                                </td>
                                <td>Netbeans, Android Studio, Eclipse,Turbo C++,Xcode( beginner)
                                    <br>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Programming Languages</strong>
                                    <br>
                                    <br>
                                </td>
                                <td>Java, CSS, C, C++, MySQL, JavaScript, Python, CSS, Linux Programming, HTML.
                                    <br>
                                    <br>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Other Skills</strong>
                                    <br>
                                    <br>
                                </td>
                                <td>Adobe photoshop, Adobe illustrator, Adobe premier,Photography, Maya, Mobile apps mockups.
                                    <br>
                                    <br>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <aside>
                        <header class="aside-header">Hobbies</header>
                        <ul>
                            <li>PC Games
                                <br>
                                <br>
                            </li>
                            <li>Movies
                                <br>
                                <br>
                            </li>
                            <li>TV Shows
                                <br>
                                <br>
                            </li>
                        </ul>
                        <header class="aside-header">Video</header>
                        <iframe width="100%" height="360" src="https://www.youtube.com/embed/2OcbJkQY-SA" frameborder="0" allowfullscreen></iframe>
                        <p>Video from youtube</p>
                    </aside>
                </div>
            </div>
        </div>
    </div>